<!DOCTYPE html>
<html lang="en" xmlns:th="http://localhost:8080/goals/list">
<head>
  <meta charset="UTF-8">
  <title>Goal List</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h2>Goal List</h2>
<table class="styled-table">
  <thead>
  <tr>
    <th>Goal ID</th>
    <th>Title</th>
    <th>Details</th>
    <th>Target Date</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="goal : ${goals}">
    <td th:text="${goal.goalId}"></td>
    <td th:text="${goal.title}"></td>
    <td th:text="${goal.details}"></td>
    <td th:text="${#dates.format(goal.targetDate, 'yyyy-MM-dd')}"></td>
    <td th:text="${goal.status}"></td>
    <td>
      <a th:href="@{/goals/edit/{goalId}(goalId=${goal.goalId})}">Edit</a> |
      <a th:href="@{/goals/delete/{goalId}(goalId=${goal.goalId})}">Delete</a> |
      <a th:href="@{/goals/{goalId}(goalId=${goal.goalId})}">View Tasks</a>
    </td>
  </tr>
  </tbody>
</table>
<a class="button" th:href="@{/goals/new}">Create New Goal</a>
</body>
</html>